/**
*   ProtonMail Archon Theme
*        by crunchyintheory
*   
*   Welcome to the global configuration for the ProtonMail Archon theme,
*   most changes such as switching between preset themes and enabling
*   optional features can be done here. If you want to edit in more
*   detail, feel free to modify the other files in this directory.
*/

//The version to be used to determine updating procedures. Do NOT use subverions
$version: 'v0.2';

//Theme selection, check _colors.scss to view the list of themes
$theme: 'archon';
$mode: 'light';

//Determines whether the update indicator should be shown if updates
// are available
$showUpdateIndicator: 1;

//Determines whether the text under the "ProtonMail" logo at the top
// should be switched to say $planText. If so, it will use $primary-light
$switchPlanPlaceholder: 1;
$planText: 'Archon';

//(More config settings will be added in later releases)
@import 'colors';
@import 'imports/update';
@import 'imports/header';
@import 'imports/recolor';
@import 'imports/body';

@import 'custom';