.pm_button.primary,
.pm_toggle.on .on,
.pm_toggle.off .off,
.sidebarApp-container .sidebar-btn-compose,
.storageBar .storageBar-progress,
.conversationPlaceholder #storageStatus .wrap span strong,
.squire-popover [class*=-footer] [class*=-btn-],
.customCheckbox-input:checked+.customCheckbox-mask,
.conversation.marked:before,
.navigationUser-newVersion-info {
    background-color: $primary !important;
}

.pm_button.primary:hover, 
.pm_button.primary:focus, 
.sidebarApp-container .sidebar-btn-compose:hover, 
.pm_modal .modal-dialog .close, 
.pm_badge.primary,
.pm_toggle-checkbox:checked+.pm_toggle-label {
    background-color: $primary-dark !important;
}

.pm_button.primary,
.navigation>li.active,
.navigation>li:hover,
.pm_modal .modal-dialog,
.customRadio-input:checked+.customRadio-mask,
.sidebarApp-container .sidebar-btn-compose,
.pm_button:not(.pm_button):not(.link),
.pm_buttons,
.pm_buttons a,
.customMaskInput-mask,
.pm_form input[type=email]:focus, 
.pm_form input[type=number]:focus, 
.pm_form input[type=password]:focus, 
.pm_form input[type=search]:focus, 
.pm_form input[type=tel]:focus, 
.pm_form input[type=text]:focus, 
.pm_form input[type=url]:focus, 
.pm_form select:focus, 
.pm_form textarea:focus,
.pm_dropdown>a, 
.pm_dropdown>button, 
.pm_dropdown>ul>li,
.pm_dropdown,
#conversation-view header,
#conversation-view .message,
.conversation,
.scrollbox-container,
.contactList-item-activeCursorContact .customCheckbox-container,
.navigationUser-newVersion-container {
    border-color: $primary !important;
}

.conversationPlaceholder header,
.pm_toggle span.knob, {
    border-color: $primary-dark;
}

.sidebarApp-item.active .navigationItem-icon,
.sidebarApp-container .footer div.link a,
.sidebarApp-container .footer div.storage strong, 
.contactItem-actions>button, 
.pm_button.link,
html.protonmail .text-purple,
.messageExtra-container>[class*=-container] a,
#conversation-view .message .toggleDetails,
#conversation-view .message .message-contact-sender,
i.fa.fa-search,
div[class*=dropdown-label-] button,
div[class*=dropdown-folder-] button,
.navigationUser-newVersion-container {
    color: $primary !important;
}

//One-offs
.protonLoader .protonLoaderIcon svg path {
    fill: $primary !important;
}
.protonLoader::after {
    border-top-color: $primary;
}
.customRadio-input:checked+.customRadio-mask {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 10px $primary;
}
.pm_toggle {
    box-shadow: 0 0 0 1px $primary;
}
.alert.alert-info {
    background-color: rgba($primary, .2);
    color: $primary-dark;
}
.pm_form select:active, 
.pm_form select:focus {
    box-shadow: inset 0 0 0 1px $primary;
}
.pm_form .pm_select {
    box-shadow: inset 0 0 0 1px $primary-dark, 0 1px 2px rgba(0,0,0,.1);
}
#pm_settings .settings .row .setting .radio img {
    filter: hue-rotate(320deg);
}
[class*=squireToolbar-row] {
    background-color: rgba($primary, .2);
}